<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | V-Blogger</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Public Blog</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/post">Post</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Latest Posts</h2>
        <hr>
            <% posts.forEach(function(post) { %>
                <article>
                    <h3><%- post.title %></h3>
                    <p><%- post.content.replace(/\n/g, '<br>') %></p>
                    <p><small>Posted on: <%- post.date %></small></p>
                </article>
                <hr>
            <% }); %>
    </main>
    <footer>
        <p>&copy; 2025 <a href="https://github.com/Visheshbons">Vishesh Kudva</a></p>
    </footer>
</body>
</html>